
@import url('../global/global.css');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--branco);
    font-family: var(--fonte);
    font-size: 20px;
}

.inicio_landing{
    height: 100vh;
}

.logo{
    width: 100px;
    justify-self: flex-start;
}

.transparentBtn{
    border: solid 0px transparent;
    border-radius: 10px;
    width: 150px;
    padding: 5px;
    transition: 0.2s;
}

.transparentBtn:hover{
    /* border: solid 1.8px var(--amarelo); */
    background-color: transparent;
    color: var(--amarelo);
}

.yellowBtn{
    background-color: var(--amarelo);
    border-radius: 10px;
    width: 150px;
    color: var(--branco);
    border: solid 1.8px transparent;
    padding: 5px;
    transition: 0.2s;
    box-sizing: border-box;

}


.yellowBtn:hover{
    border: solid 1.8px var(--amarelo);
    background-color: transparent;
    color: var(--amarelo);
}


.title{
    font-weight: bolder;
    font-size: 40px;
    width: 400px;
}

.text{
    max-width: 500px;
}


.img1{
    height: 450px;
}


/* @media */

@media screen and (max-width:768px) {

    /* Header */
    .ajustarImg{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ajustarBtn{
        justify-content:center;
        align-items: center;
    }

    #header{
        border-bottom: solid 0.5px var(--azulEscuro);
        padding-bottom: 40px;
    }

    /* 1º Parte da Landing Page */

    .ajustarTexto{
        text-align: center;
    }
}
