@import url('../global/global.css');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
    font-size: 20px;
}

.inicio_landing{
    min-height: 100vh;
    max-height: 100%;
    background-color: var(--branco);
    padding-bottom: 90px;
}

.logo{
    width: 100px;
    justify-self: flex-start;
}

.transparentBtn{
    border: solid 0px transparent;
    border-radius: 10px;
    width: 150px;
    padding: 5px;
    transition: 0.2s;
    background-color: transparent;
}

.transparentBtn:hover{
    /* border: solid 1.8px var(--amarelo); */
    background-color: transparent;
    color: var(--amarelo);
}

.yellowBtn{
    background-color: var(--amarelo);
    border-radius: 10px;
    width: 150px;
    color: var(--branco);
    border: solid 1.8px transparent;
    padding: 5px;
    transition: 0.2s;
    box-sizing: border-box;

}

.yellowBtn:hover{
    border: solid 1.8px var(--amarelo);
    background-color: transparent;
    color: var(--amarelo);
}

.title{
    font-weight: bolder;
    font-size: 40px;
}

.img1{
    height: 450px;
}

.parteDois_landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--azulEscuro);
    min-height: 100vh;
    max-height: 100%;
    width: 100%;
    text-align: center;
    padding: 90px 0px;
}

.parteDois_landing h2{
    color: var(--branco);
}

.parteDois_landing p{
    color: var(--amarelo);
    padding-bottom: 80px;
}

.img2 img{
    min-width: 200px;
    max-width: 100%;
}

.parteTres_landing{
    background-color: var(--branco);
    min-height: 100vh;
    max-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 0px;
}

.boxcard_parteTres{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.card_parteTres{
    height: 520px;
    width: 340px;
    background-color: var(--azulEscuro);
    border-radius: 15px;
    text-align: center;
    padding: 40px 20px 20px 20px;
    color: var(--branco);

}

.card_parteTres:hover{
    background-color: var(--azulClaro);
    transition: 0.5s;
}

.card_parteTres img{
    padding: 10px 0px 20px 0px;
}







/* @media */

@media screen and (max-width:992px){
    .inicio_landing{
        height: 100%;
    }
}


@media screen and (max-width:768px) {


    /* Header */
    .ajustarImg{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ajustarBtn{
        justify-content:center;
        align-items: center;
    }

    #header{
        border-bottom: solid 0.5px var(--azulEscuro);
        padding-bottom: 40px;
    }

    /* 1º Parte da Landing Page */

    .ajustarTexto{
        text-align: center;
    }
}


/* Adicionais */

#back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 15px;
    border: solid 2px var(--preto);
    background-color: var(--amarelo);
    -webkit-animation: fadeAnimation 0.5s;
    transition: 0.2s;
}

@-webkit-keyframes fadeAnimation {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}


#back-to-top:hover {
    background-color: transparent;
    border: solid 2px var(--amarelo);
}

#back-to-top.transition {
    background-color: var(--branco);
}
