@import url(../global/global.css);

body {
  font-family: "Roboto", sans-serif;
}

/* CONTENT / PADRÃO */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  background: var(--branco);
}
section {
  max-width: 800px;
  margin: 0 auto;
}

/* SEPARAÇÃO DOS CONTÉUDOS / MARGIN */
.spr {
  margin: 5rem 0 5rem 0rem;
}
.limite {
  margin: 5rem 0;
}
.separar {
  padding-top: 4rem;
  padding-bottom: 1.5rem;
}


#divIcon{
  background: var(--azulEscuro);  
}

#accountIcon{
  width: 70px;
  height: 70px;

  border-radius: 50%;
  vertical-align: middle;
}
