@import url(../global/global.css);

body{
    font-family: "Roboto", sans-serif;
}
/* CONTENT  */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    background: var(--branco);
  }

.spr{
    margin: 5rem 0 5rem 0rem;
}
/* Alterar dados */
section{
    max-width: 800px;
    margin: 0 auto;
}
.limite{
    margin: 5rem 0;
}
.separar{
    padding-top: 4rem;
    padding-bottom: 1.5rem;
}
.texto{
    font-size: 18px;

    margin-bottom:.3rem;
}
/* Imagem */
.img-md {
    width: 64px;
    height: 64px;
}
.img-circle {
    border-radius: 50%;
}

.container-CardChat{
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding-bottom: 50px;
}

.cardChat{
    width: 100%;
    max-height: auto;
    min-height: 160px ;
    background-color: white;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 25px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 8px 8px rgb(218, 218, 218);
    transition: 0.2s;
}

.cardChat:hover{
    cursor: pointer;
    background-color: var(--amarelo);
}

.cardChat img{
    min-width: 100px;
    height: 100px;
}