@import url(../global/global.css);

/*ESTILOS HEADER*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    max-height: 100%;
    background-color: var(--azulEscuro);
    padding-top: 10px;
    padding-bottom: 10px;
}


.containerHeaderall{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
}

.containerHeaderall img{
    width: 72px;
}

.containerBotaofiltro{
    padding: 10px 0px 10px 0px ;
}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
    border: 0px;
    width: 120px;
    gap: 20px;
}

.btn img{
    width: 30px;
}

.btn:focus{
    box-shadow: none;
}

.botaoInputpesquisar{
    width: 60px;
}


.inputPesquisar{
    width: 550px;
    height: 45px;
}

.form-control{
    box-sizing: border-box;
    border: 3px solid var(--amarelo);
    border-radius: 15px 0px 0px 15px;
}

.botaoInputpesquisar{
    height: 50px;
    border-radius: 0px 15px 15px 0px;
    background-color: var(--amarelo);
    border: 0px;
}

.botaoInputpesquisar img{
    width: 23px;
   
}

.botaoInputpesquisar:hover{
    background-color: rgb(255, 157, 0);
}

.containerImperfil img{
    width: 50px;
}

.containerImperfil img:hover{
    border: 2px solid transparent;
}


.modal-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}