body {
  background: #829399;
  font-family: 'Roboto', sans-serif;
}

form {
  background: #2e4052;
  color: #fff;
  width: 330px;
  max-width: 400px;
  padding: 6rem 3rem 6rem 3rem;

  margin: auto;
}
.rounded-3 {
  border-radius: 1rem !important;
}
/* TAMANHO BUTTON */
.tmn-1 {
  width: 10rem;
}
.btn {
  border-radius: 15px;
  height: 40px;
  text-shadow: 1px 1px 3px rgb(93, 93, 93);
  background: #ffc757;
  color: #fff;
  border: 2px solid #ffc757;
  margin: 0 auto;
}
.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
}

.btn:hover{
  background-color: transparent;
  border: 2px solid #ffc757;
  color: #ffc757;
}