@import url(../global/global.css);

body {
  background: var(--azulClaro);
  font-family: 'Roboto', sans-serif;
}
form {
  background: var(--azulEscuro);
  color: #fff;
  max-width: 650px;
  padding: 3rem 3rem 8rem 3rem;

  margin: 0 auto;
}
.mgn{
  padding-top: 4rem;
}
.rounded-3 {
  border-radius: 1rem !important;
}
/* TAMANHO BUTTON */
.tmn-1 {
  width: 21rem;
}
.btn {
  border-radius: 15px;
  text-shadow: 1px 1px 3px rgb(93, 93, 93);
  background: var(--amarelo);
  color: #fff;
  border: 2px solid var(--amarelo);
  margin: 0 auto;
}
.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
}

.btn:hover{
  background-color: transparent;
  border: 2px solid var(--amarelo);
  color: var(--amarelo);
}

@media (max-width: 700px){
  form {
    max-width: 330px;
  }
  .tmn-1 {
    width: 12rem;
  }
}