@import url('../global/global.css');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
    font-size: 20px;
}

body{
    background-color: #829399;
}


#title{
    font-size: 20px;
    text-align: center;
    color: #f5f5f5;
    margin-bottom: 50px;
    margin-top: 0;
}

#box{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--azulEscuro);
    border-radius: 10px;
}

#bt{
    margin: 30;
    margin-left: auto;
}

#bt > input{
    border-radius: 10px;
    border-width: 1px;
    margin-bottom: 8px;
    padding-bottom: 2px;
    border-color: var(--amarelo);
    color: rgba(0, 0, 0, 0.733);
}

#bt > input:nth-child(4){
    width: 90px;
    color: var(--branco);
    background-color: var(--amarelo);
}

#bt > input:nth-child(4):hover{
    color: var(--branco);
    background-color: var(--azulEscuro);
    transition: 0.2s;
}

#bt > input:nth-child(1){
    margin-right: 400px;
    width: 300px;
}

#bt > input:nth-child(2){
    margin-right: 400px;
    width: 300px;
}


#bt > textarea{
    margin: 10px;
    margin-left: 0px;
    height: 200px;
    width: 53vw;
    border-radius: 10px;
    margin-right: 50px;
}


