@import url(../global/global.css);

body {
  font-family: "Roboto", sans-serif;
}

/* CONTENT  */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  background: var(--branco);
}

/* Alterar senha */
section {
  max-width: 800px;
  margin: 0 auto;
}
.separar {
  padding-top: 0.4rem;
  padding-bottom: 4.2rem;
}
.texto {
  font-size: 18px;
}
.spr {
  margin: 5rem 0 5rem 0rem;
}
.limite{
  margin:5rem 0 3rem 0rem;
}

/* Imagem */
.img-md {
  width: 64px;
  height: 64px;
}
.img-circle {
  border-radius: 50%;
}
