@import url(../global/global.css);

body {
  font-family: "Roboto", sans-serif;
}

/* CONTENT  */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  background: var(--branco);
}
.spr {
  margin: 5rem 0 5rem 3rem;
}
/* Alterar dados */
section {
  max-width: 700px;
  margin: 0 auto;
}
.separar {
  padding-top: 4rem;
  padding-bottom: 1.5rem;
}
.texto {
  font-size: 18px;

  margin-bottom: 0.3rem;
}
/* Imagem */
.img-md {
  width: 64px;
  height: 64px;
}
.img-circle {
  border-radius: 50%;
}

.cachoeira {
  width: 100%;
  cursor: pointer;
}
