@import url(../global/global.css);

body{
    font-family: "Roboto", sans-serif;
}
/* CONTENT  */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    background: var(--branco);
  }

.spr{
    margin: 5rem 0 5rem 0rem;
}

section{
    max-width: 800px;
    margin: 0 auto;
}

/* analytics */

#dados{
    text-align: center;
    color: var(--branco);
    background-color: var(--amarelo);
    margin: 50px;
    margin-top: 0;
    border-radius: 15px;
    padding-bottom: 30px;
    box-shadow: 0px 2px 6px grey;
}

h5{
    margin-bottom: 10px;
}

#num{
    margin-top: 10px;
}

#cards{
    display: flex;
    align-items: center;
}

/* Área do gráfico */

#gr_area{
    background-color: var(--branco);
    min-width: none;
    width: 1000px;
    height: 500px;
}


/* Área azul vazia que eu não faço ideia do que serve, tô só seguindo o figma */
#p-blue{
    width: 1000px;
    min-width: none;
}

#blue_a{
    margin-top: 50px;
    height: 300px;
    background-color: var(--azulEscuro);
    border-radius: 15px;
}
