@import url(../global/global.css);

/* Button  */
.btn {
  border-radius: 1rem;
  font-size: 18px;
  background: var(--amarelo);
  border: 2px solid var(--amarelo);
  color: #fff;
  text-shadow: 1px 1px 3px rgb(93, 93, 93);
}
.tmn-1 {
  width: 16rem;
}
.btn:hover {
  color: var(--amarelo);
  background: transparent;
  border: 2px solid var(--amarelo);
}
.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
}
/* FORM INPUT */
.form-control,
.form-select {
  border-radius: 0.75rem;
  border: 2px solid var(--amarelo);
}
.form-control:focus,
.form-control:active{
  outline: none;
  box-shadow: none;
  border:3px solid var(--amarelo);
}
/* Tamanho do Form */
.aln-1{
  padding: 5rem 4rem 5rem 4rem;
}
@media(max-width:650px){
  .tmn-1 {
    width: 9rem;
  }
  .aln-1{
    padding: 5rem 2rem 5rem 2rem;
  }
}
