@import url(../global/global.css);

body {
  background: var(--azulEscuro);
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  text-align: center;
}
a {
  text-decoration: none;
}

h1 {
  color: white;
}

p {
  font-size: 14px;
  color: white;
}

.fontAmarela,
.fontPequena {
  color: var(--amarelo);
  cursor: pointer;
}

.fontAmarela:hover,
.fontPequena:hover {
  color: var(--azulEscuro);
}

.containerEsqueciSenha {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fontPequena {
  margin: 0;
  font-size: 13px;
  text-align: right;
}

/* FORM */
form {
  background: var(--azulClaro);
  color: #fff;
  max-width: 650px;
  height: 600px;
  margin: auto;
}
.rounded-3 {
  border-radius: 1rem !important;
}

#image-undraw {
  width: 300px;
}

@media screen and (max-width: 500px) {
  #image-undraw {
    width: 100%;
  }
  #form-submit {
    width: 100%;
    height: auto;
  }
  #section-form {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
}
