body {
  background: #2e4052;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  text-align: center;
}
a{
  text-decoration: none;
}

h1{
  color: white;
}

p{
  font-size: 14px;
  color: white;
}

.fontAmarela, .fontPequena{
  color: #ffc757;
  cursor: pointer;
}

.fontAmarela:hover, .fontPequena:hover{
  color: blue;
}

.fontPequena{
  margin: 0;
  font-size: 13px;
  text-align: right;
}

/* FORM */
form {
  background: #829399;
  color: #fff;
  max-width: 650px;
  height: 600px;
  margin: auto;
}
.rounded-3 {
  border-radius: 1rem !important;
}