/* Esse global serve para criar váriaveis css, basicamente só fazer o seguinte:
Entra dentro do root, bota --nomeVar: valorCss;
Se vocês quiserem utilizar, é só importar o global em outro css que nem eu fiz com
a fonte roboto em baix, só que indicando o local do global
para usar em um elemento é só botar: 
Background: var(--nomevariavel);

basicamente isso
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root{
    --branco: #f5f5f5;
    --amarelo: #ffc757;
    --azulClaro: #829399;
    --azulEscuro: #2e4052;
    --preto: #333333;
    --fonte: font-family: 'Roboto', cursive;
}