@import url(../global/global.css);

/*ESTILOS HEADER*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    max-height: 100%;
    background-color: var(--azulEscuro);
    padding-top: 10px;
    padding-bottom: 10px;
}

body{
    background-color: var(--branco);
}


.containerHeaderall{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
}

.containerHeaderall img{
    width: 72px;
}

.containerBotaofiltro{
    padding: 10px 0px 10px 0px ;
}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
    border: 0px;
    width: 120px;
    gap: 20px;
}

.btn img{
    width: 30px;
}

.btn:focus{
    box-shadow: none;
}

.botaoInputpesquisar{
    width: 60px;
}


.inputPesquisar{
    width: 550px;
    height: 45px;
}

.form-control{
    box-sizing: border-box;
    border: 3px solid var(--amarelo);
    border-radius: 15px 0px 0px 15px;
}

.botaoInputpesquisar{
    height: 50px;
    border-radius: 0px 15px 15px 0px;
    background-color: var(--amarelo);
    border: 0px;
}

.botaoInputpesquisar img{
    width: 23px;
   
}

.containerImperfil img{
    width: 50px;
}

.containerImperfil img:hover{
    border: 2px solid transparent;
}


.modal-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.containerCardFornecedor {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: var(--branco);
    width: 100%;
    height: 100%;
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.cardExemplo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    border-radius: 15px;
    background-color: white;
    width: 100%;
    min-height: 200px;
    max-height: 100%;
    box-shadow: 0px 6px 8px rgb(221, 221, 221);
    padding: 15px 60px 15px 50px;
}

.divFotoperfil img{
    width: 150px;
}

.containerNomeCateoria{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    height: 80%;
}

.containerNomeCateoria h4{
    color: rgb(207, 207, 207);
}

.containerBotaoStar{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}


.containerBotaoStar button{
    border: 0px;
    width: 170px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--amarelo);
    color: white;
    transition: 0.2s;
}

.containerBotaoStar button:hover{
    background-color: transparent;
    border: 2px solid var(--amarelo);
    color: var(--amarelo);
}

@media (max-width: 1000px) {

    .cardExemplo{
        flex-direction: column;
    }

    .containerNomeCateoria{
        text-align: center;
    }
    
    .containerBotaoStar{
        width: 100%;
    }
    
}